<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/tautvis-register.css" />
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="wrapper" style="background-image: url('images/dumbell.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="images/bentower.jpg" alt="">
            </div>
            <form action="/forgot" method="POST">
                <h3>Enter your email</h3>
                <div class="form-wrapper">
                    <input id="emailas" type="text" name="username" placeholder="Email Address" class="form-control">
                    <i class="line-email"></i>
                    <div id="error-nwl"></div>
                    <button>Submit
                        <i class="line"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>