<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Veikia</h1>
    <% if(userProfile){ %>
        <h1><%= userProfile.nick %></h1>
    <% } %>
</body>
</html>