<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/andrej.style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>Result Tracker</h1>
        </div>
        <div class="user">
            <div class="profile-photo"></div>
            <h2>Profile Name</h2>
        </div>
        <div class="bodyweight">
            <h3>Bodyweight</h3>
        </div>
    </div>
    
</body>
</html>