<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/andrej.style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>Result Tracker</h1>
        </div>
        <div class="user">
            <div class="profile-photo"></div>
            <h2>Profile Name</h2>
        </div>
        <div class="bodyweight">
            <h3>Bodyweight</h3>
            <form class="bodyWeightForm hiddenForm" action="/addWeight" method="POST">
                <input name="weightDay" type="date">
                <input name="bodyWeight" type="numer" placeholder="Bodyweight">
                <button type="submit">Save</button>
            </form>
            <button type="submit" onclick="openWeightForm()">Add</button>
        </div>
        <table>
            <tr>
                <th>Date</th>
                <th>Weight</th>
            </tr>
            <% for(let i = 0; i < userResult.length; ++i ) { %>
                <tr>
                    <td class="date"> <%- new Date(userResult[i].weightDay).toISOString().split('T')[0] %> </td>
                    <td><%= userResult[i].bodyWeight %>kg</td>
                </tr>
            <% } %> 
        </table>
        <div class="measurments">
            <div class="measurments-header">
                <h3>Measurments</h3>
                    <form class="measurmentsForm hiddenForm" action="/centimetrsResult" method="POST">
                    <div class="exercise-header-inputs">
                        <input type="date" name="measurmentsDay">
                        <input type="text" name="centimetrs" placeholder="cm">
                        <button type="submit">Save</button>
                    </div>
                </form>
                <button type="submit" onclick="openMeasForm()" >Add</button>
                </div>
                <table>
                    <tr>              
                        <th>Date</th>
                        <th>Centimetrs</th>
                    </tr>
                    <tr>
                        <td>10kg</td>
                        <td>12</td>
                    </tr>
                </table>
                

            
        </div>

    </div>
    <script src="/javascripts/profile_js.js"></script>
</body>
</html>