<!doctype html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Calendar</title>
	<script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js" 
            charset="utf-8"></script>
      <link href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css" 
            rel="stylesheet" type="text/css" charset="utf-8">
            <script src="https://cdn.dhtmlx.com/scheduler/edge/ext/dhtmlxscheduler_recurring.js"></script>
            <script src="/calendarext/dhtmlxscheduler_agenda_view.js" ></script>        
	
	
	<style>
		html, body{
			margin:0px;
			padding:0px;
			height:100%;
			overflow:hidden;
		}
	</style>
	<script>
		function init() {
			scheduler.config.xml_date="%Y-%m-%d %H:%i";
			scheduler.init('scheduler_here',new Date(),"month");
            scheduler.locale.labels.agenda_tab="My Agenda";
            scheduler.config.agenda_start = new Date();

			scheduler.templates.xml_date = function(value){ return new Date(value); };
			scheduler.load("/calendar/data", "json");

			var dp = new dataProcessor("/calendar/data");
			dp.init(scheduler);
			dp.setTransactionMode("POST", false);
		}
	</script>
</head>
<body onload="init();">
	<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
		<div class="dhx_cal_navline">
			<div class="dhx_cal_prev_button">&nbsp;</div>
			<div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_tab" name="agenda_tab" style="right:280px;"></div>
			<div class="dhx_cal_date"></div>
			<div class="dhx_cal_tab" name="day_tab"></div>
			<div class="dhx_cal_tab" name="week_tab"></div>
			<div class="dhx_cal_tab" name="month_tab" ></div>
		</div>
		<div class="dhx_cal_header">
		</div>
		<div class="dhx_cal_data">
		</div>
	</div>
</body>