<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/tautvis-main.css" />
    <script src="main.js"></script>
</head>
<body>
        <%- include('_partials/navbar') %>
        <h1>Puslapis veikia</h1>

        <% if(user){ %>
            <%= user.username %>
        <% } %>
</body>
</html>