<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Muscle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/mnd_style.css" />
</head>

<body>
    <a href="/exercises">Back to Exercises</a>
    <div>
        <form action="/exercises/muscles" method="post">
            <label for="name">Muscle Goup</label>
            <input type="text" placeholder="Muscle Name" name="name">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <% if(Object.keys(muscleList).length){ %>
        <ul>
            <% for(let i = 0; i < muscleList.length; ++i){ %>
            <li>
                <%= muscleList[i].name %>
            </li>
            <% } %>
        </ul>
        <% }else { %>
        <p>No muscle group found.</p>

        <% } %>
    </div>

</body>

</html>